<!doctype html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div ng-controller="myCtrl" class="container">
    <table class="table table-bordered table-hover">
        <caption class="h2 text-danger">购物车</caption>
        <tr >
            <th class="text-center">商品</th>
            <th class="text-center">单价</th>
            <th class="text-center">数量</th>
            <th class="text-center">小计</th>
            <th class="text-center">操作</th>
        </tr>
        <tr ng-repeat="product in products track by $index" class="text-center warning">
            <td>{{product.productName}}</td>
            <td>{{product.productPrice}}</td>
            <td><input type="text" ng-model="product.productCount"></td>
            <td>{{product.productPrice * product.productCount}}</td>
            <td><button class="btn btn-danger btn-sm">删除</button></td>
        </tr>
    </table>
</div>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',function ($scope) {
        $scope.products = [
            {productName:'机箱',productPrice:5888,productCount:1},
            {productName:'鼠标',productPrice:3,productCount:1},
            {productName:'电视',productPrice:1000,productCount:1},
        ];
    });
</script>
</body>
</html>