<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>珠峰培训http://www.zhufengpeixun.cn</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="myCtrl" class="container">
<table class="table table-bordered">
    <tr>
        <th><input type="checkbox" ng-model="all" ng-click="selectAll()">全选</th>
        <th>商品</th>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="product in products track by $index">
        <td><input type="checkbox" ng-model="product.isSelected" ng-click="selectOne()"></td>
        <td>{{product.productName}}</td>
        <td>{{product.productPrice}}</td>
        <td>
            <button ng-click="product.productCount=product.productCount-1"
                    ng-disabled="product.productCount==1">-</button>
            <input type="text" ng-model="product.productCount"
                   ng-readonly="true">
            <button ng-click="product.productCount=product.productCount+1">+</button>
        </td>
        <td>{{product.productPrice*product.productCount}}</td>
        <td><button class="btn btn-danger">删除</button></td>
    </tr>
    <tr>
        <td colspan="6">
            <!--任何数据发生变化都会触发total执行-->
            总费用：{{total()}}
        </td>
    </tr>
</table>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',['$scope',function ($scope) {
        //所有数据都是挂在在$scope上的属性，不会预解释
        $scope.products = [
            {productName:'机箱',productPrice:5888,productCount:1,isSelected:true},
            {productName:'鼠标',productPrice:3,productCount:1,isSelected:true},
            {productName:'电视',productPrice:1000,productCount:1,isSelected:true},
        ];
        $scope.total = function () {
            var sum = 0;
            $scope.products.forEach(function (item) {
                sum+=item.productPrice*item.productCount
            });
            return sum;
        };
        $scope.selectAll = function () { //点击全选按钮
            //如果当前全选状态为true products里的所有isSelected为true，相反就是false
            $scope.products.forEach(function (item) {
                item.isSelected = $scope.all;//是全选的值
            });
        };
        //点击下面的checkbox,如果 products里的所有isSelected有一个为false，全选取消，否则选中
        $scope.selectOne = function () {
            //如果没找到则是undefined
            var obj = $scope.products.find(function (item,index) {
                return !item.isSelected;
            });
            $scope.all=obj?false:true;
            /*if(obj){ //找到则表示有false  不全选
                $scope.all = false;
            }else{
                $scope.all = true;
            }*/
        };
        $scope.selectOne(); //给all赋值,只运行控制器的时候执行一次
    }]);


</script>
</body>
</html>